.DS_Store
Desktop.ini
._*
Thumbs.db
.Spotlight-V100
.Trashes
config/nvim/.netrwhist
logs
*.log
npm-debug.log*
pids
*.pid
*.seed
*.pid.lock
lib-cov
coverage
.nyc_output
.grunt
.lock-wscript
build/Release
node_modules
jspm_packages
.npm
.eslintcache
.node_repl_history
*.tgz
.yarn-integrity

.terraform
*.retry

resources
config/nvim/plugged/*
zshrc.temp
.zcompdump*

.asdf/
.azure/
.bash_history
.cache/
.config/gcloud/
.config/iterm2/
.config/nvim/plugged/
.esets/
.lesshst
.local/
.oh-my-zsh/
.ssh/
.vim/
.viminfo
.zprofile
.zsh_history
.zsh_sessions/
Desktop/
Documents/
Downloads/
Library/
Movies/
Music/
Pictures/
Public/
.vscode/
.CFUserTextEncoding
.dotfiles
.docker/
.kube/
.kuberlr/
.terraform.d/
Applications/
workspace/
var/
go/
Google\ Drive
My\ Drive/
.gitconfig_wh
.wget-hsts
.redhat/
.rd/
.aws/
.aws-okta-processor/
.Trash/
