[user]
	email =
	name = Valerio Barrila
[core]
	pager = delta
	excludesfile = /Users/valerio.barrila/.gitignore
[color]
	ui = true
[color "diff-highlight"]
	oldNormal = red bold
	oldHighlight = red bold 52
	newNormal = green bold
	newHighlight = green bold 22
[color "diff"]
	meta = 11
	frag = magenta bold
	commit = yellow bold
	old = red bold
	new = green bold
	whitespace = red reverse
[http]
	sslVerify = false
[pull]
	rebase = false
[push]
	autoSetupRemote = true
[init]
	templateDir = /Users/valerio.barrila/.git-template
[interactive]
    diffFilter = delta --color-only
[delta]
    navigate = true    # use n and N to move between diff sections
    light = false      # set to true if you're in a terminal w/ a light background color (e.g. the default macOS terminal)
	side-by-side = true
	line-numbers = true
[merge]
    conflictstyle = diff3
[diff]
    colorMoved = default