awscli 2.13.3
helm 3.12.3
jq 1.6
k9s 0.27.4
krew 0.4.3
kind 0.18.0
kubectl 1.24.14
kubectx 0.9.5
minikube 1.27.1
popeye v0.11.1
pre-commit 2.20.0
ripgrep 13.0.0
terraform 1.5.6
tflint 0.47.0
tfsec 1.28.1
yq 4.29.2
nodejs lts
postgres 14.3
flux2 2.1.0
stern 1.26.0
## need to patch the plugin
# kustomize 5.1.1
# tfenv 0.4.0